# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\new\FireRobot-2021031601-中间柱子上的火\FireRobot-2021031601-中间柱子上的火\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
