# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\新建文件夹\FireRobot-2021020201\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
